.vscode
a.exe
a.out
html
latex
MapVisualStudioDebug.sln 
MapVisualStudioDebug.vcxproj 
MapVisualStudioDebug.vcxproj.filters 
MapVisualStudioDebug.vcxproj.user
x64
MapVisua.8D1BA2FF
enc_temp_folder
.vs